@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary-background);
}

body {
  color: #ffffff;
}

@theme {
  --color-primary-background: #031634;
  --color-secondary-background: #f0f4f8;
  --color-primary-text: #ffffff;
  --color-secondary-text: #cfd8dc;
  --color-primary-button: #28a745;
  --color-primary-button-hover: #218838;
}
